* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left bottom, #614385, #5c4c8b, #57548f, #535c93, #516395);
    /* for darkmode
    background-image: linear-gradient(to left top, #161515, #212020, #2c2b2b, #373737, #434343);*/
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.container {  
    display: grid;
    height: 100vb;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr 2.4fr 0.47fr;
    gap:20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "header  display"
      "input   display"
      "actions display";
    margin: 20px 20px;
  }

.header {
    grid-area: header;
    height: 50px;
    display: flex;
}

.logo-back {
    position: relative;
    width: fit-content;
    border-radius: 10px;
    margin-left: -30px;
    padding: 12px 20px 12px 50px;
    background: #343434;
} 
 
.text-input { 
    grid-area: input; 
    display: flex;
    height: 69.5vh;
    margin: 0px 40px 0px 20px;
    padding: 20px;
}

.input {
    position: relative;
    width: 100%;
    resize: none;
    overflow: auto;
    font-size: 1.35em;
    color: #ffffff88;
    background: transparent;
}

.input::placeholder {color: #ffffff88}

.text-display { 
    grid-area: display; 
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.9fr 0.1fr;
    gap: 20px 0px;
    grid-template-areas: 
      "text"
      "copy";
    border-radius: 20px;
    text-align: center;
    margin-right: 40px;
    padding: 20px 20px;
    background: rgba(255, 255, 255, 0.6);
}

.display {
    height: 100%;
    resize: none;
    overflow: auto;
    padding: 100px 8px 0px 8px;
    color: #343434;
}

.button-copy {
    width: 180px;
    height: 40px;
    border-radius: 11px;
    cursor: pointer;
    visibility: hidden;
    color: #f3f5fc90;
    background: #343434;
}

.button-copy:hover {
    color: #343434;
    background: #d8ad6c;
}
  
.text-actions { 
    grid-area: actions; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas:
      "restriction"
      "buttons";
    text-align: center;
}

.restriction {grid-area: restriction;}

.restriction img, .restriction p {
    display: inline-block;
    font-size: 0.7em;
    color: #343434;
}

.actions {
    grid-area: buttons;
    height: fit-content;
}

.button-cipher, .button-decipher {
    width: 180px;
    height: 40px;
    border-radius: 11px;
    cursor: pointer;
    margin: 0.5em 2em 0em 2em;
}

.button-cipher, .button-decipher:hover {
    color: #F2ECFF90;
    background: #343434;
}

.button-decipher, .button-cipher:hover {
    color: #343434;
    background: #d8ad6c;
}

.button-cipher, .button-decipher, .button-copy, .text-display, .logo-back {
    box-shadow:  0px 10px 20px -8px rgba(0,0,0,0.8);
}

.display::-webkit-scrollbar, .input::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.display::-webkit-scrollbar-thumb, .input::-webkit-scrollbar-thumb {
    background: #ffffff91;
    border-radius: 4px;
}

.display::-webkit-scrollbar-track, .input::-webkit-scrollbar-track {
    background: #e1e1e1a1;
    border-radius: 4px;
}

@media  screen and (max-width: 850px) {
    .container {
        height: 100vb;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 35vh auto auto;
        gap: 20px;
        grid-auto-flow: row;
        grid-template-areas: 
          "header"
          "input"
          "actions"
          "display";
        margin: 20px 20px;
    }

    .header {
        grid-area: header;
        margin: 0px 0px;
    }

    .text-input {
        grid-area: input;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .input {padding-right: 3px;}

    .text-actions {
        grid-area: actions;
        height: fit-content;
    }

    .text-display {
        grid-area: display;
        height: fit-content;
        max-height: 80vh;
        margin: 0px 0px 20px 0px;
        padding: 18px 0px;
    }

    .display {
        padding: 0;
        margin-right: 5px;
    }

    .no-message-img {display: none;}
}
