body {
    background: #f3f5fc;
}

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 2.1fr 0.6fr;
    gap:20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo logo result"
      "text text result"
      "buttons buttons result";
    margin: 20px 20px;
  }
    
.logo { 
    grid-area: logo; 
    padding-left: 20px;
}
  
.text { 
    grid-area: text; 
    padding: 1em 0 1em 8em;
}

.input-text {
    border: none;
    outline: none;
    overflow: auto;
    background: transparent;
    resize: none;
}
  
.buttons { 
    grid-area: buttons; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap:0px 0px;
    grid-template-areas:
      "restriction"
      "actions";
    margin: 20px 20px;
}

.restriction {
    grid-area: restriction;
    text-align: center;
}

.restriction-text, .restriction-icon {
    display: inline-block;
    color: #343434;
}

.actions {
    grid-area: actions;
    text-align: center; 
    height: fit-content;
    margin-bottom: 0px;
}

.button-encriptar {
    margin: 1em 2em;
    border-radius: 11px;
    border: none;
    background: #343434;
    width: 164px;
    height: 34px;
    color: #f3f5fc;
}

.button-desencriptar {
    margin: 1em 2em;
    border-radius: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #343434;
    background: #D8DFE8;
    width: 164px;
    height: 34px;
    color: #343434;
}

.result { 
    grid-area: result; 
    display: block;
    text-align: center;
    background: white;
    border-radius: 20px;
    height: auto;
    padding: 20px;
}

.no-mensaje-img, .no-mensaje, .parrafo {
    position: relative;
    top: 25%;
}
  