body {
    background: #f3f5fc;
    font-family: 'Ubuntu', sans-serif;
}

.container {  
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr 2.2fr 0.5fr;
    gap:20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "header  display"
      "input   display"
      "actions display";
    margin: 20px 20px;
  }
    
.header { 
    grid-area: header; 
    padding-left: 20px;
}
  
.text-input { 
    grid-area: input; 
    height: 375px;
    padding: 1em 1em;
    text-align: center;
}

.input {
    border: none;
    outline: none;
    overflow: auto;
    background: transparent;
    resize: none;
    font-size: 1.5em;
    width: 80%;
    height: 100%;
}
  
.text-actions { 
    grid-area: actions; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas:
      "restriction"
      "buttons";
    text-align: center;
}

.restriction {
    grid-area: restriction;
}

.restriction-text, .restriction-icon {
    display: inline-block;
    color: #343434;
    font-size: 0.7em;
}

.actions {
    grid-area: buttons;
    height: fit-content;
}

.button-cipher, .button-decipher {
    width: 164px;
    height: 34px;
    border-radius: 11px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1em 2em;
}

.button-cipher, .button-decipher:hover {
    color: #f3f5fc;
    background: #343434;
}

.button-decipher, .button-cipher:hover {
    background: #FFC600;
    color: #343434;
}

.text-display { 
    grid-area: display; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.2fr;
    gap: 20px 0px;
    grid-template-areas: 
      "text"
      "copy";
    background: white;
    border-radius: 20px;
    height: 555px;
    text-align: center;
    padding: 20px;
    box-shadow:  0px 2px 25px -10px rgba(0,0,0,0.3);
}

.display {
    overflow: auto;
    height: 100%;
    resize: none;
    color: #343434;
}

.copy {
    background: #f3f5fc;
    color: #343434;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 120px;
    height: 34px;
    cursor: pointer;
    visibility: hidden;
}

.copy:hover {
    background: #343434;
    color: #f3f5fc;
}