body {
    background-image: linear-gradient(to left bottom, #614385, #5c4c8b, #57548f, #535c93, #516395);
    /* for darkmode
    background-image: linear-gradient(to left top, #161515, #212020, #2c2b2b, #373737, #434343);*/
    font-family: 'Ubuntu', sans-serif;
}

.container {  
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.3fr 2.2fr 0.5fr;
    gap:20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "header  display"
      "input   display"
      "actions display";
    margin: 20px 20px;
  }
    
.header { 
    grid-area: header; 
    padding-left: 20px;
}
  
.text-input { 
    grid-area: input; 
    height: 405px;
    text-align: center;
}

.input {
    border: none;
    outline: none;
    overflow: auto;
    background: transparent;
    resize: none;
    font-size: 1.5em;
    width: 85%;
    height: 99%;
    color: #ffffff81;
}

.input::placeholder {color: #f3f5fc}

.text-display { 
    grid-area: display; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.8fr 0.2fr;
    gap: 20px 0px;
    grid-template-areas: 
      "text"
      "copy";
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    height: 555px;
    text-align: center;
    padding: 20px;
    margin-right: 40px;
    box-shadow:  0px 10px 30px -10px rgba(0,0,0,0.6);
}

.display {
    overflow: auto;
    height: 100%;
    resize: none;
    color: #343434;
    padding: 0px 10px;
}

.copy {
    background: #343434;
    color: #f3f5fc;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 120px;
    height: 34px;
    cursor: pointer;
    visibility: hidden;
}

.copy:hover {
    background: #636fa4;
    color: #f3f5fc;
}
  
.text-actions { 
    grid-area: actions; 
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas:
      "restriction"
      "buttons";
    text-align: center;
}

.restriction {grid-area: restriction;}

.restriction-text, .restriction-icon {
    display: inline-block;
    color: #343434;
    font-size: 0.7em;
}

.actions {
    grid-area: buttons;
    height: fit-content;
}

.button-cipher, .button-decipher {
    width: 164px;
    height: 34px;
    border-radius: 11px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1em 2em;
}

.button-cipher, .button-decipher:hover {
    color: #f3f5fc;
    background: #343434;
    box-shadow:  -6px 10px 20px -8px rgba(0,0,0,0.6);
}

.button-decipher, .button-cipher:hover {
    background: #FFC600;
    color: #343434;
    box-shadow:  -6px 10px 20px -8px rgba(0,0,0,0.6);
}

.display::-webkit-scrollbar, .input::-webkit-scrollbar {width: 8px;}

.display::-webkit-scrollbar-thumb, .input::-webkit-scrollbar-thumb {
    background: #ffffff91;
    border-radius: 4px;
}

.display::-webkit-scrollbar-track, .input::-webkit-scrollbar-track {
    background: #e1e1e1a1;
    border-radius: 4px;
}